<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Add cars</title>
</head>
<body>
	
	<h3 align="center">Add cars</h3>
	<br/>
	
	<form align="center" class="col-sm-11" action="#" th:action="@{/addCar}" th:object="${addCarFormData}" method="POST">

        <div class="form-group row">
            <label class="col-sm-3" for="brand">Car brand: </label>
            <input class="col-sm-9" type="text" th:field="*{carBrand}" /><span th:errors="*{carBrand}"></span><br />
        </div>

        <div class="form-group row">
            <label class="col-sm-3" for="model">Car model: </label>
            <input class="col-sm-9" type="text" th:field="*{carModel}" /><span th:errors="*{carModel}"></span><br />
        </div>

        <div class="form-group row">
            <label class="col-sm-3" for="plate">Car plate: </label>
            <input class="col-sm-9" type="text" th:field="*{carPlate}" /><span th:errors="*{carPlate}"></span><br />
        </div>

        <div class="form-group row">
            <label class="col-sm-3" for="year">Car manufacturing year: </label>
            <input class="col-sm-9" type="text" th:field="*{carManufacturingYear}" /><span th:errors="*{carManufacturingYear}"></span><br />
        </div>

		<div class="form-group row">
            <label class="col-sm-3" for="totalweight">Car total weight: </label>
            <input class="col-sm-9" type="text" th:field="*{carTotalWeight}" /><span th:errors="*{carTotalWeight}"></span><br />
        </div>		
		
		<div class="form-group row">
            <label class="col-sm-3" for="seats">Number of seats: </label>
            <input class="col-sm-9" type="text" th:field="*{carSeats}" /><span th:errors="*{carSeats}"></span><br />
        </div>
	
		<div class="form-group row">
			<label class="col-sm-3" for="carType">Type of the car: </label>
			<select class = "col-sm-9" th:field="*{carType}" id="carType">
				<option value="0">Select car type</option>
				<option th:each="carType : ${T(com.example.CarGoWithCargo.model.CarType).values()}"
					th:value="${{carType}}"
					th:text="${carType}">
				</option>
			</select>
		</div>
		
		<input class="btn btn-lg btn-primary btn-block" type="submit" value="Add car" />

    </form>
		
			
	
</body>
</html>